@font-face {
  font-family: 'LotteMartHappy';
  font-style: normal;
  font-weight: 500;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-color: white;
	overflow: hidden;
	background-color: transparent;
	font-weight: 800;
	font-family: 'LotteMartHappy', Helvetica, Arial, sans-serif;}

body.isOffline {
	visibility: hidden;
}

.song-info__text_info div {
	display: inline-block;
}

.song-info__text_info .song-info__artist-name:before {
	content: " - ";
}
