@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-color: white;
	overflow: hidden;
	background-color: transparent;
	font-weight: 500;
	font-family: 'Cafe24Dangdanghae', Helvetica, Arial, sans-serif;
}

body.isOffline {
	visibility: hidden;
}

.song-info__text_info div {
	display: inline-block;
}

.song-info__text_info .song-info__title:before {
	content: " - ";
}
