@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	color: white;
	overflow: hidden;
	 width: 1000px;
	background-color: transparent;
	font-weight: 800;
 	 overflow: hidden; 
	 text-overflow: ellipsis;  	
	white-space: nowrap; 		
  word-break:break-all;
	font-family: 'Cafe24Oneprettynight', Helvetica, Arial, sans-serif;}

body.isOffline {
	visibility: hidden;
}

.song-info__text_info div {
	display: inline-block;
}

.song-info__text_info .song-info__artist-name:before {
	content: " - ";
}
